<div class="booking-container">
    <nav class="navbar">
      <div class="dropdown">
        <label for="numTickets">Number of Tickets:</label>
        <select id="numTickets" [(ngModel)]="numTickets" (ngModelChange)="onNumTicketsChange($event)">
          <option [ngValue]="null" disabled >Select No. of Tickets</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
      <div class="total-fare">
        Total Fare: &#8377;{{ totalFare }}
      </div>
      <button  class="proceed-button"(click)="proceedBooking()"[disabled]="!isProceedButtonEnabled()">
      Proceed
     </button>
     <button class="cancel-button" (click)="cancelBooking()">Cancel Booking</button>
    </nav>
  
    <div class="section" *ngFor="let section of sections">
      <h3>{{ section.name }} - ({{ section.price }})</h3>
      <div *ngFor="let row of section.rows" class="row">
        {{ row }}
        <div 
          *ngFor="let seatNumber of getSeats(section, row)" 
          class="seat" 
          [ngClass]="getSeatClass(section.name, row, seatNumber)"
          (click)="toggleSeat(section.name, row, seatNumber)"
        >
          {{ seatNumber }}
        </div>
      </div>
    </div>
    
    <div class="screen-container">
      <div class="screen"></div>
    </div>
  </div>
  