<div class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"><h1><i>BookMyShow</i></h1></a>
    
    <div class="navbar-nav" style="display: flex; align-items: center; flex-direction: row;">
        <!-- Add more buttons here -->
        <div class="nav-item text-nowrap">
            <a style="background: rgba(243, 243, 243, 0.989);
            color: #0303f7; font-weight: bold;
            border-radius: 7px;
            margin: 10px;" class="nav-link px-3 cursor-pointer"routerLink="/login">Login</a>
        </div>
        <div class="nav-item text-nowrap">
            <a style="background: rgba(243, 243, 243, 0.989);
            color: #0303f7; font-weight: bold;
            border-radius: 7px;
            margin: 10px;" class="nav-link px-3 cursor-pointer" routerLink="/signup">Register</a>
        </div>
    </div>
  </div>
  <div class="outter">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-3" *ngFor="let movie of movies">
          <div class="card mb-10">
            <div class="card-poster" [style.background-image]="'url(' + movie.posterUrl + ')'"></div>
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <p class="card-text">Language: {{ movie.language }}</p>
              <p class="card-text">Duration: {{ movie.durationMinutes }} minutes</p>
              <p class="card-text">Release Date: {{ movie.releaseDate | date:'shortDate' }}</p>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Book Ticket</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title para" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Login to BookMyShow</span><br>
                    <small>Please login to book your seat and get ticket.</small></p>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary bton"  data-bs-dismiss="modal" routerLink="/login">Login</button>
                <button  type="button" class="btn btn-secondary bton" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>