<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">BookMyShow</a>
  
      <!-- Date buttons -->
      <div class="date-buttons">
        <button
          *ngFor="let date of dates"
          [ngClass]="{
            'selected-date': date === selectedDate,
            'not-selected-date': date !== selectedDate
          }"
          (click)="selectDate(date)"
        >
          {{ date }}
        </button>
      </div>
  
      <!-- Search bar -->
      <form class="form-inline">
        <input class="form-control mr-2" type="search" placeholder="Search Theatres" [(ngModel)]="theatreFilter" name="theatreFilter" (input)="filterTheatres()" />
      </form>
    </div>
  </nav>
  
  <!-- Theatre listings -->
  <div class="container mt-4">
    <div class="theatre-container">
      <div *ngFor="let theatre of filteredTheatres" class="theatre-box">
        <div class="theatre-info">
          <p>Theatre Name: {{ theatre.theatreName }}</p>
          <p>Location: {{ theatre.location }}</p>
        </div>
        <div class="screen-info">
          <p>Screen ID: {{ theatre.screenId }}</p>
          <p>Screen Name: {{ theatre.screenName }}</p>
        </div>
        <div class="show-times">
          <p>Show Times:</p>
          <div class="show-time-buttons">
            <button
    *ngFor="let time of showTimes"
    class="show-time-button"
    (click)="handleShowTimeClick(time, theatre.theatreName, movieName)"
  >
    {{ time }}
  </button>
          </div>
        </div>
      </div>
    </div>
  </div>